h1 {
  color: white;
  font-size: 20px;
  font-style: italic;
  text-align: right;
  padding: 10px 30px 7px 3px;
  font-family: 'Zilla Slab', serif;
  margin: 0;
}

body {
  margin: 0;
  font-size: 12px;
  font-family: 'Zilla Slab', serif;
  color: rgb(27, 27, 27);
  padding: 0;
}

.portret {
  height: 199px; 
  margin: 0;
  padding: 0;
  object-fit: cover;
}


.hlavicka {
  background-image: linear-gradient(rgb(34, 167, 240, 1), white 30%);
  margin: 50px 0px 0 0;
  padding: 0;
}

.hlavicka {
  display: flex;
  align-items: stretch;
}
 
.foto{
  flex: 0 1 30%;
}

.kontakt-menu {
  flex: 1 1 70%;
}

a {
  color:black;
  font-style: italic;
}

.menu {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgba(34, 168, 240, 0.692);
}

.menu li {
  display:block;
  font-weight: 700;
  padding: 7.5px 5px;
  font-size: 14px; 
}

.menu a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

.tab1:hover,
.tab2:hover,
.tab3:hover,
.tab4:hover {
  background-color: white;
  color: rgba(34, 168, 240, 0.692);
  padding: 7.5px 5px;
  display: block;
}

.kontakt {
  color: black;
  font-size: 10px;
  text-align: right;
  font-weight: 500;
  padding: 0px 20px 2px 20px;
  margin: 0;
}

.udaje,
.praxe, 
.vzdelani,
.jazyk,
.ostatni {
  background-color: rgba(34, 168, 240, 0.692) ;
  color: white;
  padding: 5px 10px;
  font-style: italic;
  text-align: center;
  width: 30%;
  font-size: 13px;
  margin: 5px 0 5px 0;
}

.zahlavi {
  display: flex;
  justify-content: space-between;
}

.arrow  {
  width: 25px;
  padding: 10px 20px 0 0;
  margin: 0;
}

.arrow:hover {
  border-radius: 50%;
  border: 2px solid rgba(34, 168, 240, 0.692);
}

h3 {
  font-size: 14px;
  padding: 10px 0 0 20px;
  margin: 0;
}

.duties li {
  font-size: 12px;
  padding: 0 10px 3px 15px;
  margin: 0;
}

li {
  line-height: 1.1;
  font-size: 12px;
  padding: 0 20px;
}

h4 {
  font-size: 12px;
  padding: 0 0 0 20px;
  margin: 0;
}

td {
  text-align: left;
  font-size: 12px;
  border-bottom: 1px solid black;
  padding: 0 10px 0 0;
  margin: 0 10px 0 10px;
  line-height: 1.2;
}

tr {
  margin: 5px 0 10px 0;
}

.tytul {
  text-align: left;
  font-size: 12px;
  padding: 0px 0;
  border-bottom: none;
  margin: 0;
}

table {
  border-spacing: 0;
  padding: 0 10px 0 10px;
}

.rok2 {
  text-align: left;
  padding: 10px 10px 0 15px;
  font-weight: 600;
  margin: 10px 0 0 20px;
}

.rok3 {
  text-align: left;
  padding: 10px 10px 5px 10px;
  margin: 0 100px 0 0;
}

.rok {
  text-align: left;
  padding-left: 20px;
  font-weight: 500;
  font-size: 12px;
}


.ostatni {
  margin: 16px 0 10px 0;
}

.paticka p {
  background-color: rgba(34, 168, 240, 0.692);
  color: white;
  text-align: center;
  padding: 2px 0;
  margin: 2px 0 0 0;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  font-family: 'Zilla Slab', serif;
}

@media screen and (min-width: 640px) {

  body {
    margin: 20px;
  }
  .portret {
    padding: 0;
    margin: 0;
  }

  .hlavicka {
    padding: 0 10px 0 0;
  }
  h1 {
    font-size: 24px;
    text-align: right;
    margin-right: 100px;
  }
  .kontakt {
    padding: 0px 50px 10.5px 0;
    font-size: 12px;
    max-height: 20vh;
    margin-right: 70px;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 5px 0;
    width: 75vw;
  }

  .menu ul {
    margin: 0;
    padding: 0;
  }

  .hlavicka {
    background-image: linear-gradient(rgb(34, 167, 240, 1), white 60%);
    max-height: 20vh;
    padding: 0;
    margin: 0;
  }

  .foto {

    flex: 0 1 15vw;
    height: 15vh;
  }

  .portret {
    max-height: 16.6vh; 
    background-image: url("obrazky/foto.jpg);
    background-size: cover;
  }

  .kontakt-menu {
    flex: 0 1 85vw;
    max-height: 20vh;
  }

  .tab1,
  .tab2,
  .tab3,
  .tab4 {
    flex: 1 1 25%;
    padding: 0 100px;
  }

  .tab1:hover,
  .tab2:hover,
  .tab3:hover,
  .tab4:hover {
    background-color: white;
    color: rgba(34, 168, 240, 0.692);
    display: inline-block;
    margin: 0;
    height: fit-content; 
  }

  h1 {
    font-size: 26px;
    padding: 10px 100px 0 0;
  }

  .kontakt {
    font-size: 16px;
    padding: 0 100px 2px 20px;
  }

  h3 {
    font-size: 16px;
  }
  
  body {
    font-size: 16px;
  }

  .menu li {
    padding: 10px 5px;
    font-size: 16px; 
  }
  
 
  .udaje,
  .praxe, 
  .vzdelani,
  .jazyk,
  .ostatni {

    width: 30%;
    font-size: 16px;
    margin: 10px 0 10px 0;
  }

  
  .duties li {
    font-size: 14px;
  }
  
  li {
    font-size: 14px;
  }
  
  h4 {
    font-size: 14px;
  }
  
  td {
    margin: 10px 10px 0 10px;
  }
  
  tr {
    margin: 5px 0 10px 0;
  }
  
  .tytul {
    font-size: 14px;
    padding: 5px 0;
  }
  
  
  .rok2 {
    font-size: 15px;
  }
  
  .rok3 {
    font-size: 14px;
    text-align: left;
    padding: 10px 30px 10px 20px;
    margin: 0 100px 0 0;
  }
  
  .rok {
    padding: 5px 60px 10px 10px;
    font-size: 15px;
  }

  .paticka p {
    font-size: 18px;

  }


}

@media screen and (min-width: 1100px) {

  body {
    margin: 50px;
  }

  h1 {
    font-size: 30px;
    padding: 30px 200px 0 20px;
  }

  .kontakt {
    font-size: 17px;
    padding: 0px 100px 11px 20px;
  }

  .foto {
    flex: 0 1 20vw;
    max-height: 25vh;
  }
  .portret {
    max-height: 23vh;
  }

  .kontakt-menu {
    flex: 1 1 75vw;
    max-height: 25vh;
  }

  h3 {
    font-size: 20px;
    margin-left: 30px;
  }

  body {
    font-size: 18px;
  }

  .menu li {
    padding: 15px 10px;
    font-size: 18px; 
  }

  .hlavicka {
    max-height: 25vh;
  }

  .menu {
  max-width: 74.5vw;
  }

  .udaje,
  .praxe, 
  .vzdelani,
  .jazyk,
  .ostatni {

    width: 30%;
    font-size: 18px;
    margin: 10px 0 20px 0;
  }


  .duties li {
    font-size: 16px;
    margin-left: 50px;
  }

  li {
    font-size: 16px;
  }

  h4 {
    font-size: 16px;
  }

  td {
    margin: 15px 15px 0 15px;
  }

  tr {
    margin: 10px 0 15px 30px;
  }

  .tytul {
    font-size: 16px;
    padding: 10px 0;
  }


  .rok2 {
    font-size: 17px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .rok3 {
    font-size: 16px;
    text-align: left;
    padding: 10px 40px 20px 30px;
    margin: 0 100px 0 0;
  }

  .rok {
    padding: 5px 60px 10px 70px;
    font-size: 17px;
  }

  .paticka p {
    font-size: 20px;
    margin-top: 10px;
  }
}


